# git ignore file
data
databases
*.sql
*.suo
obj
bin
sitecore
temp
# App_*
App_Browsers
*connection*
*commands*
*icons*
*fieldtypes*
*license*
*analytics*
*webdav*
security
prefetch
*.example
default.*
global.*
layouts
xsl
web.config*
design.*
upload
*.css
*.user
*.sitecore
Website/App_Config/LanguageDefinitions.config
Website/App_Config/MimeTypes.config
Website/App_Config/Portraits.config
Website/App_Config/Prototypes.config
Website/App_Config/XamlSharp.config